<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication page</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="mains">
        <div class="move">
        <marquee direction="right"
             behavior="alternate">
             <p>   Welcome to Our<span style="color: red; font-size: 3rem;"> Log in</span> page, Good to see you, Lets join us</p>

        </marquee>
    </div>
 
   
